* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  --page-color: #2c2b3d;
}

body {
  font-size: 1.6rem;
  font-family: "JetBrains Mono", monospace;

  width: 109rem;
  margin-inline: auto;

  background-color: var(--page-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 7rem;
}

ul {
  display: flex;
  gap: 6.4rem;

  list-style: none;
}

ul li a {
  text-decoration: none;

  color: white;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10rem 0rem 15rem;
}

main h1 {
}

main p {
  font-family: "Open Sans", sans-serif;
}
