* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62, 5%; /* 1rem = 10px */

  --page-color: #2c2b3d;
}

body {
  font-size: 1.6rem;

  background-color: var(--page-color);
}
